<div class='container'>

    <div class="row justify-content-start">
        <div class="col-lg-3  my-5 offset-xl-2  ">


            <h3>Korisnik novi</h3>



            <div class="my-5">

                <form action='/login' method="POST">
                    
                    <div class="form-group">
                        <label for="ime">Ime</label>
                        <input type="text" class="form-control" name="ime" >

                    </div>
                    <div class="form-group">
                        <label for="password">Sifra</label>
                        <input type="password" class="form-control" name='password' >

                    </div>
                    
                    <button type="submit" class="btn btn-primary">Sacuvaj</button>
                </form>
            </div>
        </div>
    </div>
</div>